In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from statistics import mean

In [2]:
Salary_df = pd.read_csv("Salary_Data.csv")
Salary_df = Salary_df.dropna()

In [9]:
edu_level_unique = Salary_df['Education Level'].unique()
job_title_unique = Salary_df['Job Title'].unique()
num_of_job_titles = Salary_df['Job Title'].nunique()

edu_level_unique, job_title_unique, num_of_job_titles

(array(["Bachelor's", "Master's", 'PhD', "Bachelor's Degree",
        "Master's Degree", 'High School', 'phD'], dtype=object),
 array(['Software Engineer', 'Data Analyst', 'Senior Manager',
        'Sales Associate', 'Director', 'Marketing Analyst',
        'Product Manager', 'Sales Manager', 'Marketing Coordinator',
        'Senior Scientist', 'Software Developer', 'HR Manager',
        'Financial Analyst', 'Project Manager', 'Customer Service Rep',
        'Operations Manager', 'Marketing Manager', 'Senior Engineer',
        'Data Entry Clerk', 'Sales Director', 'Business Analyst',
        'VP of Operations', 'IT Support', 'Recruiter', 'Financial Manager',
        'Social Media Specialist', 'Software Manager', 'Junior Developer',
        'Senior Consultant', 'Product Designer', 'CEO', 'Accountant',
        'Data Scientist', 'Marketing Specialist', 'Technical Writer',
        'HR Generalist', 'Project Engineer', 'Customer Success Rep',
        'Sales Executive', 'UX Designer', 'Operations Director',
        'Network Engineer', 'Administrative Assistant',
        'Strategy Consultant', 'Copywriter', 'Account Manager',
        'Director of Marketing', 'Help Desk Analyst',
        'Customer Service Manager', 'Business Intelligence Analyst',
        'Event Coordinator', 'VP of Finance', 'Graphic Designer',
        'UX Researcher', 'Social Media Manager', 'Director of Operations',
        'Senior Data Scientist', 'Junior Accountant',
        'Digital Marketing Manager', 'IT Manager',
        'Customer Service Representative', 'Business Development Manager',
        'Senior Financial Analyst', 'Web Developer', 'Research Director',
        'Technical Support Specialist', 'Creative Director',
        'Senior Software Engineer', 'Human Resources Director',
        'Content Marketing Manager', 'Technical Recruiter',
        'Sales Representative', 'Chief Technology Officer',
        'Junior Designer', 'Financial Advisor', 'Junior Account Manager',
        'Senior Project Manager', 'Principal Scientist',
        'Supply Chain Manager', 'Senior Marketing Manager',
        'Training Specialist', 'Research Scientist',
        'Junior Software Developer', 'Public Relations Manager',
        'Operations Analyst', 'Product Marketing Manager',
        'Senior HR Manager', 'Junior Web Developer',
        'Senior Project Coordinator', 'Chief Data Officer',
        'Digital Content Producer', 'IT Support Specialist',
        'Senior Marketing Analyst', 'Customer Success Manager',
        'Senior Graphic Designer', 'Software Project Manager',
        'Supply Chain Analyst', 'Senior Business Analyst',
        'Junior Marketing Analyst', 'Office Manager', 'Principal Engineer',
        'Junior HR Generalist', 'Senior Product Manager',
        'Junior Operations Analyst', 'Senior HR Generalist',
        'Sales Operations Manager', 'Senior Software Developer',
        'Junior Web Designer', 'Senior Training Specialist',
        'Senior Research Scientist', 'Junior Sales Representative',
        'Junior Marketing Manager', 'Junior Data Analyst',
        'Senior Product Marketing Manager', 'Junior Business Analyst',
        'Senior Sales Manager', 'Junior Marketing Specialist',
        'Junior Project Manager', 'Senior Accountant', 'Director of Sales',
        'Junior Recruiter', 'Senior Business Development Manager',
        'Senior Product Designer', 'Junior Customer Support Specialist',
        'Senior IT Support Specialist', 'Junior Financial Analyst',
        'Senior Operations Manager', 'Director of Human Resources',
        'Junior Software Engineer', 'Senior Sales Representative',
        'Director of Product Management', 'Junior Copywriter',
        'Senior Marketing Coordinator', 'Senior Human Resources Manager',
        'Junior Business Development Associate', 'Senior Account Manager',
        'Senior Researcher', 'Junior HR Coordinator',
        'Director of Finance', 'Junior Marketing Coordinator',
        'Junior Data Scientist', 'Senior Operations Analyst',
        'Senior Human Resources Coordinator', 'Senior UX Designer',
        'Junior Product Manager', 'Senior Marketing Specialist',
        'Senior IT Project Manager', 'Senior Quality Assurance Analyst',
        'Director of Sales and Marketing', 'Senior Account Executive',
        'Director of Business Development', 'Junior Social Media Manager',
        'Senior Human Resources Specialist', 'Senior Data Analyst',
        'Director of Human Capital', 'Junior Advertising Coordinator',
        'Junior UX Designer', 'Senior Marketing Director',
        'Senior IT Consultant', 'Senior Financial Advisor',
        'Junior Business Operations Analyst',
        'Junior Social Media Specialist',
        'Senior Product Development Manager', 'Junior Operations Manager',
        'Senior Software Architect', 'Junior Research Scientist',
        'Senior Financial Manager', 'Senior HR Specialist',
        'Senior Data Engineer', 'Junior Operations Coordinator',
        'Director of HR', 'Senior Operations Coordinator',
        'Junior Financial Advisor', 'Director of Engineering',
        'Software Engineer Manager', 'Back end Developer',
        'Senior Project Engineer', 'Full Stack Engineer',
        'Front end Developer', 'Front End Developer',
        'Director of Data Science', 'Human Resources Coordinator',
        'Junior Sales Associate', 'Human Resources Manager',
        'Juniour HR Generalist', 'Juniour HR Coordinator',
        'Digital Marketing Specialist', 'Receptionist',
        'Marketing Director', 'Social Media Man', 'Delivery Driver'],
       dtype=object),
 191)

In [4]:
clean_salary_df = pd.DataFrame({
    'Age': Salary_df['Age'].astype(int),
    'Gender': Salary_df['Gender'],
    'Education Level': Salary_df['Education Level'].replace('Bachelor\'s', 'Bachelor\'s Degree').replace('Master\'s', 'Master\'s Degree').replace('nan', '*no education level recorded*').replace('phD', 'PhD'),
    'Job Title': Salary_df['Job Title'].replace('Customer Service Rep', 'Customer Service Representative').replace('Front end Developer', 'Front End Developer').replace('IT Support Specialist', 'IT Support').replace('Social M', 'Social Media').replace('Social Media Man', 'Social Media Manager'),
    'Years of Experience': Salary_df['Years of Experience'].astype(int),
    'Salary': Salary_df['Salary'].astype(int)
})

clean_salary_df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32,Male,Bachelor's Degree,Software Engineer,5,90000
1,28,Female,Master's Degree,Data Analyst,3,65000
2,45,Male,PhD,Senior Manager,15,150000
3,36,Female,Bachelor's Degree,Sales Associate,7,60000
4,52,Male,Master's Degree,Director,20,200000
...,...,...,...,...,...,...
6699,49,Female,PhD,Director of Marketing,20,200000
6700,32,Male,High School,Sales Associate,3,50000
6701,30,Female,Bachelor's Degree,Financial Manager,4,55000
6702,46,Male,Master's Degree,Marketing Manager,14,140000
6703,26,Female,High School,Sales Executive,1,35000

In [5]:
clean_salary_df['Job Title'].nunique()

187

In [6]:
for x in clean_salary_df:
    print(f"{x}:")
    print(clean_salary_df[f'{x}'].unique())
    print('\n\n')

Age:
[32 28 45 36 52 29 42 31 26 38 48 35 40 27 44 33 39 25 51 34 47 30 41 37
 24 43 50 46 49 23 53 61 57 62 55 56 54 60 58 22 21]



Gender:
['Male' 'Female' 'Other']



Education Level:
["Bachelor's Degree" "Master's Degree" 'PhD' 'High School']



Job Title:
['Software Engineer' 'Data Analyst' 'Senior Manager' 'Sales Associate'
 'Director' 'Marketing Analyst' 'Product Manager' 'Sales Manager'
 'Marketing Coordinator' 'Senior Scientist' 'Software Developer'
 'HR Manager' 'Financial Analyst' 'Project Manager'
 'Customer Service Representative' 'Operations Manager'
 'Marketing Manager' 'Senior Engineer' 'Data Entry Clerk' 'Sales Director'
 'Business Analyst' 'VP of Operations' 'IT Support' 'Recruiter'
 'Financial Manager' 'Social Media Specialist' 'Software Manager'
 'Junior Developer' 'Senior Consultant' 'Product Designer' 'CEO'
 'Accountant' 'Data Scientist' 'Marketing Specialist' 'Technical Writer'
 'HR Generalist' 'Project Engineer' 'Customer Success Rep'
 'Sales Executive' 'UX Designer' 'Operations Director' 'Network Engineer'
 'Administrative Assistant' 'Strategy Consultant' 'Copywriter'
 'Account Manager' 'Director of Marketing' 'Help Desk Analyst'
 'Customer Service Manager' 'Business Intelligence Analyst'
 'Event Coordinator' 'VP of Finance' 'Graphic Designer' 'UX Researcher'
 'Social Media Manager' 'Director of Operations' 'Senior Data Scientist'
 'Junior Accountant' 'Digital Marketing Manager' 'IT Manager'
 'Business Development Manager' 'Senior Financial Analyst' 'Web Developer'
 'Research Director' 'Technical Support Specialist' 'Creative Director'
 'Senior Software Engineer' 'Human Resources Director'
 'Content Marketing Manager' 'Technical Recruiter' 'Sales Representative'
 'Chief Technology Officer' 'Junior Designer' 'Financial Advisor'
 'Junior Account Manager' 'Senior Project Manager' 'Principal Scientist'
 'Supply Chain Manager' 'Senior Marketing Manager' 'Training Specialist'
 'Research Scientist' 'Junior Software Developer'
 'Public Relations Manager' 'Operations Analyst'
 'Product Marketing Manager' 'Senior HR Manager' 'Junior Web Developer'
 'Senior Project Coordinator' 'Chief Data Officer'
 'Digital Content Producer' 'Senior Marketing Analyst'
 'Customer Success Manager' 'Senior Graphic Designer'
 'Software Project Manager' 'Supply Chain Analyst'
 'Senior Business Analyst' 'Junior Marketing Analyst' 'Office Manager'
 'Principal Engineer' 'Junior HR Generalist' 'Senior Product Manager'
 'Junior Operations Analyst' 'Senior HR Generalist'
 'Sales Operations Manager' 'Senior Software Developer'
 'Junior Web Designer' 'Senior Training Specialist'
 'Senior Research Scientist' 'Junior Sales Representative'
 'Junior Marketing Manager' 'Junior Data Analyst'
 'Senior Product Marketing Manager' 'Junior Business Analyst'
 'Senior Sales Manager' 'Junior Marketing Specialist'
 'Junior Project Manager' 'Senior Accountant' 'Director of Sales'
 'Junior Recruiter' 'Senior Business Development Manager'
 'Senior Product Designer' 'Junior Customer Support Specialist'
 'Senior IT Support Specialist' 'Junior Financial Analyst'
 'Senior Operations Manager' 'Director of Human Resources'
 'Junior Software Engineer' 'Senior Sales Representative'
 'Director of Product Management' 'Junior Copywriter'
 'Senior Marketing Coordinator' 'Senior Human Resources Manager'
 'Junior Business Development Associate' 'Senior Account Manager'
 'Senior Researcher' 'Junior HR Coordinator' 'Director of Finance'
 'Junior Marketing Coordinator' 'Junior Data Scientist'
 'Senior Operations Analyst' 'Senior Human Resources Coordinator'
 'Senior UX Designer' 'Junior Product Manager'
 'Senior Marketing Specialist' 'Senior IT Project Manager'
 'Senior Quality Assurance Analyst' 'Director of Sales and Marketing'
 'Senior Account Executive' 'Director of Business Development'
 'Junior Social Media Manager' 'Senior Human Resources Specialist'
 'Senior Data Analyst' 'Director of Human Capital'
 'Junior Advertising Coordinator' 'Junior UX Designer'
 'Senior Marketing Director' 'Senior IT Consultant'
 'Senior Financial Advisor' 'Junior Business Operations Analyst'
 'Junior Social Media Specialist' 'Senior Product Development Manager'
 'Junior Operations Manager' 'Senior Software Architect'
 'Junior Research Scientist' 'Senior Financial Manager'
 'Senior HR Specialist' 'Senior Data Engineer'
 'Junior Operations Coordinator' 'Director of HR'
 'Senior Operations Coordinator' 'Junior Financial Advisor'
 'Director of Engineering' 'Software Engineer Manager'
 'Back end Developer' 'Senior Project Engineer' 'Full Stack Engineer'
 'Front End Developer' 'Director of Data Science'
 'Human Resources Coordinator' 'Junior Sales Associate'
 'Human Resources Manager' 'Juniour HR Generalist'
 'Juniour HR Coordinator' 'Digital Marketing Specialist' 'Receptionist'
 'Marketing Director' 'Delivery Driver']



Years of Experience:
[ 5  3 15  7 20  2 12  4  1 10 18  6 14 16  0 22 19  9 13 11 25 21  8 17
 23 24 31 30 28 33 27 34 29 26 32]



Salary:
[ 90000  65000 150000  60000 200000  55000 120000  80000  45000 110000
  75000 140000 130000  40000 125000 115000  35000 180000 190000  50000
 250000 170000 160000  85000  95000 105000  70000 100000  30000 135000
 220000 175000 185000 145000 155000    350 195000 198000 196000 193000
  92000 165000 162000 197000 142000 182000 210000    550 122485 169159
 187081 166109  78354  90249 132720 161568 127346 120177  69032 101332
 121450 166375 185119 149217 166512 186963  75072 163398 103947 179180
 175966 190004 152039  76742 191790 139398  95845 160976 126753 161393
 139817 181714 114776 105725  52731 106492  73895 119836  99747 168287
 115920 128078  51265 165919 188651  55538 193964 104702 172955 138032
  82683 155414 154207 107895 148446 102859 138662 181699 188232  51832
 188484 138286 181132  73938 119224 101186 142360 151315 181021 134641
 173851 104127 178859  98568 104661 134858  94502  62852 139095 106278
  90452 168304 126593 152203 183138 130275 191915  62807 174305 133326
  75656 155944 137775  51831 182237 151901 100052 158254 167207 112439
 194214  84407 139413 143084 192344 106132 184816 150248 170995  88035
 119419 173582 174436  71699 163558 166828 144496 193746 122581  79767
 177177  89843 113563 128712 161621 121454 179987  72649  52612 184006
 131960 102465 149748 171036 146351 185462 107718  90944 100425  63901
 181902 136533 136285 191818 176643  70022  99363 152944 123386 168906
 183020  47898 135853 149198 106662 186610  89995  85825 143814 174726
 150534  68732 187951 137336 191159 102868 154281 111535 107906 143885
 180958 108607 178284  75969 143705 197354 174324 123781 141735 187120
  61095 179045 130355 103282 157872 117314 186321 129686  68611 177913
  68472 113065 125091 172925 126916 183417  76898    579 103579 163780
 137878  92438  84181 174821 126520 152168 190543 131547 192292  52807
 174938 124071  73640 156486 138859  52831 182392 151078 100679 158966
 167924 113334 194778  77606 140010 142421 192756 106686 186794 150729
 171652  88552 119918 174985 174336  72389 163978 166958 145052 195270
 122970  80247 177862  91062 114290 128999 162454 122354 179756  73218
 184480 132442 102828 150301 171468 147326 185982 108267  91397 100867
  64182 182506 136986 136662 191510 177347  70397 146075 155795 132638
 178684 106218 191239  65840  52779 185038 136449 110707 151670 167015
 146508 190596 104378  70216 101733  55935 180367 135596 136062 191267
  82944 188288 141090 152726 124141  67556 182768 148727  91903 147708
 163209 120288 170226 134979 137489  83577 117904 134482 184660 100151
  88678 181285 154990 108204 175684  77766 192211 144647 162231 121120
  79652 177002  87584 131860 182013 108799 135378 183530 150901  82697
 194638 130356 152560 121432  63789 183690 151310 100358 148437 168691
  32000  38000  89000  33000  25000  62000 138000  47000  26000 174000
  41000  99000 117000 225000  36000 146000 113000 168000 122000  96000
  49000  68000 127000  71000 240000 152000 119000 131000 101000 137000
 112000  91000 179000  74000 228000  37000 204000  61000 157000  52000
  58000 219000  77000 104000 183000  43000  48000  42000    500  57000
  72000  31000  28000 215000]

In [7]:
for x in clean_salary_df:
    print(f"{x}:")
    print(clean_salary_df[clean_salary_df[f'{x}'] == np.nan])
    print('\n\n')

Age:
Empty DataFrame
Columns: [Age, Gender, Education Level, Job Title, Years of Experience, Salary]
Index: []



Gender:
Empty DataFrame
Columns: [Age, Gender, Education Level, Job Title, Years of Experience, Salary]
Index: []



Education Level:
Empty DataFrame
Columns: [Age, Gender, Education Level, Job Title, Years of Experience, Salary]
Index: []



Job Title:
Empty DataFrame
Columns: [Age, Gender, Education Level, Job Title, Years of Experience, Salary]
Index: []



Years of Experience:
Empty DataFrame
Columns: [Age, Gender, Education Level, Job Title, Years of Experience, Salary]
Index: []



Salary:
Empty DataFrame
Columns: [Age, Gender, Education Level, Job Title, Years of Experience, Salary]
Index: []

In [8]:
clean_salary_df.to_csv('cleaned_salary.csv', index=False)